.effect {
  margin: 59px 0 0 0;
  padding: 0;
  display: none;
}

@media (min-width: 660px) {
  .effect {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .effect {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .effect-grey {
    background-color: #f2f2f2;
  }
}

.effect__timer {
  margin: 0;
  padding: 0 20px;
  display: flex;
  width: 238px;
  height: 276px;
  background: url("../img/icon-timer.svg") center top no-repeat;
  background-size: 238px;
}

@media (min-width: 1200px) {
  .effect__timer {
    margin: 0 0 0 130px;
    padding: 0 0 67px 0;
    width: 298px;
    height: 345px;
    background-size: 298px;
  }
}

.effect__timer-circle {
  margin: 55px 18px 19px 18px;
  display: flex;
  width: 202px;
  height: 175px;
  color: $pink;
  border: 14px solid $pink;
  border-radius: 50%;
  justify-content: center;
}

@media (min-width: 1200px) {
  .effect__timer-circle {
    margin: 70px 22px 23px 23px;
    width: 252px;
    height: 225px;
  }
}

.effect__timer-circle-text {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 96px;
  font-weight: 700;
  line-height: 156px;
}

@media (min-width: 1200px) {
  .effect__timer-circle-text {
    font-size: 120px;
    line-height: 215px;
  }
}

.effect__text {
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 320px;
}

@media (min-width: 1200px) {
  .effect__text {
    padding: 0 130px 0 0;
    max-width: 530px;
    align-items: center;
    align-content: center;
  }
}

.effect__text-title {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 30px;
  max-width: 170px;
  line-height: 36px;
}

@media (min-width: 1200px) {
  .effect__text-title {
    max-width: 580px;
    font-size: 30px;
    line-height: 30px;
  }
}

.effect__text-text {
  margin: 0;
  padding: 0;
  color: $dark;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: 1200px) {
  .effect__text-text {
    margin: 30px 0 0 0;
    font-size: 18px;
    line-height: 30px;
  }
}

.effect__text-more {
  margin: 0;
  padding: 0;
  color: $pink;
  text-decoration: underline;
  font-size: 14px;
  line-height: 24px;
}
