.contest {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.contest__text {
  font-size: 14px;
  color: $dark;
  text-align: center;
  line-height: 30px;
  font-weight: 300;
  margin: 55px 0;
  padding: 0 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.contest__form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 20px;
}

.contest__form-field {
  display: flex;
  flex-wrap: wrap;

  & label {
    line-height: 30px;
    color: $pink;
    text-transform: uppercase;
    margin: 0 0 0 23px;
  }

  & input {
    width: 100%;
    border: 2px solid #e5e5e5;
    color: $dark;
    font-size: 18px;
    margin: 0 0 26px 0;
    padding: 23px 0 23px 20px;
  }

  & textarea {
    width: 100%;
    border: 2px solid #e5e5e5;
    color: $dark;
    font-size: 18px;
    min-height: 197px;
    margin: 0 0 26px 0;
    padding: 23px 0 23px 20px;
  }
}

.contest__form-achievements {
  background-color: #f2f2f2;
  margin: 0 0 40px 0;
  padding: 42px 20px 0 20px;
}

.contest__form-achievements-text {
  text-align: center;
  color: $pink;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-width: 400;
  margin: 0;
  padding: 0 30px;
}

.contest__form-area {
  margin: 30px 0;
  padding: 0;

  & label {
    font-size: 18px;
    color: $dark;
    line-height: 30px;
    margin: 0;
    padding: 0 0 0 69px;
  }

  & input {
    display: none;
  }
}

.green-btn {
  width: 100%;
  border: none;
  background-color: #2aab6d;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 25px 0;
}

.contest__required {
  text-align: center;
  color: $dark;
  margin: 46px auto;
  padding: 0;
}

.contest__error {
  display: none;
}

.contest__send {
  display: none;
}
