.price {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 660px) {
  .price {
    padding: 0 22px;
  }
}

@media (min-width: 1200px) {
  .price {
    padding: 0 130px;
  }
}

.price__item-table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

.price__item-table th {
  background-color: #283645;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
  padding: 15px 0;
  width: 25%;
  border-right: 2px solid #e5e5e5;

  &:first-child {
    border-right: none;
    background: none;
  }

  &:last-child {
    border-right: none;
  }
}

.price__item-title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.price__item-table td {
  color: $dark;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  border: 2px solid #e5e5e5;
  margin: 0;
  padding: 15px 0 15px 22px;
}
