@media (min-width: 660px) {
  .reviews__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0 0 0;
  }
}

.reviews__list {
  list-style: none;
  text-align: center;
  display: flex;
  margin: 0;
  padding: 0;
}

@media (min-width: 1200px) {
  .reviews__item {
    width: 100%;
    min-width: 1200px;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 660px) {
  .reviews__item blockquote {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse;
  }
}

@media (min-width: 1200px) {
  .reviews__item blockquote {
    max-width: 700px;
  }
}

.reviews__item-work {
  display: none;
  color: $dark;
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

@media (min-width: 660px) {
  .reviews__item-work {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 660px) {
  .reviews__item-work {
    font-size: 18px;
  }
}

.reviews__item-author {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 30px 0;
}

@media (min-width: 660px) {
  .reviews__item-author {
    margin: 30px 0 0 0;
  }
}

@media (min-width: 660px) {
  .reviews__item-author {
    font-size: 24px;
    line-height: 30px;
  }
}

.reviews__item-text {
  color: $dark;
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

@media (min-width: 660px) {
  .reviews__item-text {
    font-size: 18px;
    line-height: 30px;
  }
}


.reviews__item:nth-child(2),
.reviews__item:nth-child(3) {
  display: none;
}
