.advantages {
  margin: 46px 0 0 0;
  padding: 0 20px;
  color: $dark;
  text-align: center;
}

.advantages__text {
  padding: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
}

.advantages__list {
  padding: 0 20px;
  margin: 30px 0 0 0;
  list-style: none;
}

.advantages__item {
  margin: 0 0 40px 0;
}

.advantages__item-title {
  margin: 0 0 20px 0;
  padding: 0;
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.advantages__item-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color:#283645;
}
