.price {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.price__list
  &:nth-child(2),
  &:nth-child(3){
    display: none;
  }

.price__item-table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

.price__item-table th{
  margin:0;
  padding: 15px 0;
  background-color: #283645;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

.price__item-table th
  &:first-child,
  &:last-child {
    width: 20px;
}

.price__item-table th
  &last-child{
   width: 20px;
}

.price__item-table th
  &:nth-child(2),
  &:nth-child(2){
    border-left: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
}

.price__item-title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.price__item-table td{
  margin:0;
  padding: 15px 0 15px 22px;
  color: $dark;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 2px solid #e5e5e5;
}
