.page-footer__contacts {
  margin: 0;
  padding: 0 0 34px 0;
  text-align: center;
  width: 100%;
}

.contacts__title {
  margin: 50px 0 44px 0;
  padding: 0;
  font-size: 24px;
  color: $dark;
  line-height: normal;
  font-weight: 300;
}

.contacts__text {
  margin: 0;
  padding: 0 20px;
  display: block;
  line-height: normal;
}

.contacts__text b {
  display: block;
  color: $dark;
  font-size: 18px;
  font-weight: 700;
  margin-top: 28px;
}

.contacts__text a {
  display: block;
  color: $pink;
  font-size: 24px;
  font-weight: 300;
}
