.page-footer__contacts {
  margin: 0;
  padding: 0 0 34px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contacts__title {
  margin: 50px 0 44px 0;
  padding: 0;
  font-size: 24px;
  color: $dark;
  line-height: normal;
  font-weight: 300;
}

@media (min-width:660px) {
  .contacts__title {
    font-size: $title-desk;
  }
}

@media (min-width:1200px) {
  .contacts__title {
    font-size: $title-tablet;
  }
}

.contacts__text {
  margin: 0;
  padding: 0 20px;
  display: block;
  line-height: normal;
}

@media (min-width:660px) {
  .contacts__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contacts__text-block{
    width: 50%;
  }
}

@media (min-width:1200px) {
  .contacts__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 940px;
  }
  .contacts__text-block{
    width: 33%;
    &:nth-child(1) {
      order: 0;
    }
    &:nth-child(2) {
      order: 2;
    }
    &:nth-child(3) {
      order: 1;
    }
  }
}

.contacts__text b {
  display: block;
  color: $dark;
  font-size: 18px;
  font-weight: 700;
  margin: 28px 0 0 0;
}

@media (min-width:660px) {
  .contacts__text b{
    margin: 28px 0 20px 0;
  }
}

.contacts__text a {
  display: block;
  color: $pink;
  font-size: 24px;
  font-weight: 300;
}
