.page-footer__create {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 34px 0 0 0;
  padding: 0;

  & svg {
    fill: $pink;
    margin-left: 15px;
  }
}

@media (min-width: 660px) {
  .page-footer__create {
    margin: 0;
  }
}

.page-footer__create a {
  color: $dark;
  display: flex;
  align-items: center;
  justify-content: center;
}
