$dark: #283645;
$pink: #d22856;
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff") format("woff");
  src: url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff");
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff") format("woff");
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

body {
  width: 100%;
  max-width: 320px;
  padding: 0;
  margin: 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  background-color: #ffffff;
  line-height: 16px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.grey {
  margin: 35px 0 0 0;
  padding: 25px 0 0 0;
  background-color: #f2f2f2;
  &:before {
    content: "";
    background: url("../img/bg-triangle-white.svg") no-repeat left top;
  }
}

.intro-img {
  margin: 0;
  padding: 0;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat center top;
  height: 237px;
}

.intro-img__title {
  margin: 0;
  padding: 95px 20px 0;
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
  text-align: center;
  color: #FFFFFF;
}
