.page-header {
  margin: 0;
  padding: 0 20px;
  display: flex;
  position: absolute;
  min-height: 66px;
  background-color: rgba(29,38,49, 0.7);
  width: 100%;
  max-width: 280px;
  justify-content: space-between;
  align-items: center;
}
